
.body{
    margin: auto;
}
.navbar{
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: space-between;
    text-transform: uppercase;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-between;
    background: rgb(46, 46, 224);
    color:white;
    
}
.navbar-right{
    display: flex;
    
    
}    

.navbar-left {
    display: flex;
    align-items: center;
    word-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-between; */
}   
.navbar-item{
    padding-left: 10px;
    cursor: pointer;
}
.navbar-right .navbar-item{
    border: solid white;
    border-radius: 15px;
    padding: 5px 20px;
}
.pepsi_ball{
    transform: matrix(1, 0, 0, 1, 0, 0,);
}